/.ansible.cfg
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.local
/.profile
/.rpmdb
/.ssh
/.sudo_as_admin_successful
/.viminfo
/.vscode-server
/ansible
/autofs
/gallie-upload
/playbook.yaml
/randomtextfile
/{